.grid-sizer{
   width: 20px
   
}
.my-masonry-grid {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  margin-left: -30px; 
}
.my-masonry-grid_column {
  border-left: 30px solid transparent; 
  background-clip: padding-box;
}


.my-masonry-grid_column > div { 
  background: grey;
  margin-bottom: 30px;
}